@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rowdies:wght@300;400;700&display=swap');

* {
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f5;
    color: #333;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #27cc27;
    -webkit-text-stroke: 0.5px #333;
}

#tela_inicial,
#tela_de_jogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

#tela_inicial {
    width: 30%;
}

#botao_iniciar {
    -webkit-text-stroke: 1.75px #333;
    padding: 5px 20px;
    font-size: 26px;
    background-color: #32cd32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #228b22;
    margin-top: 20px;
}

#botao_iniciar:hover {
    background-color: #3cb371;
}

#botao_iniciar:active {
    box-shadow: 0 2px #006400;
    transform: translateY(2px);
}

#tela_de_jogo {
    display: none;
    gap: 30px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    max-width: 400px;
}

.tema {
    font-size: 1.5em;
    font-weight: bold;
    color: #3ba128;
}

.palavra-adivinhar {
    display: flex;
    gap: 10px;
    font-size: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.botoes {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botoes button {
    width: 40px;
    border: 1px solid #333;
    background-color: #20a389;
    transition: 0.2s;
}

.botoes button:hover {
    background-color: #00b490;
}

.botoes button.errado {
    background-color: #eb1700;
    cursor: not-allowed;
}

.botoes button.correto {
    background-color: #2873d6;
    cursor: not-allowed;
}

.mostrar_dica {
    -webkit-text-stroke: 1.75px #333;
    padding: 5px 20px;
    font-size: 26px;
    background-color: #32cd32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #228b22;
    margin-top: 20px;
}

.mostrar_dica:hover {
    background-color: #3cb371;
}

.mostrar_dica:active {
    box-shadow: 0 2px #006400;
    transform: translateY(2px);
}

.dica {
    font-size: 1.2em;
    text-align: center;
    color: #555;
}

#mensagemFeedback {
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 650px) {
    #tela_de_jogo {
        flex-direction: column;
        padding: 10px;
    }

    .conteudo {
        max-width: 100%;
    }

    header h1 {
        font-size: 2em;
    }

    .palavra-adivinhar {
        font-size: 1.5em;
    }

    button {
        font-size: 0.8em;
    }

    .iniciar,
    .mostrar_dica {
        width: 150px;
    }
}