@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rowdies:wght@300;400;700&display=swap');

* {
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #efeffb;
    color: #333;
    padding: 10px;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.75em;
    color: #26a90f;
    -webkit-text-stroke: 0.1px #333;
}

img {
    width: 225px;
}

#tela_inicial,
#tela_de_jogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

#tela_inicial {
    width: 100%;
    max-width: 300px;
}

#botao_iniciar {
    -webkit-text-stroke: 1.75px #333;
    padding: 5px 20px;
    font-size: 1.75em;
    background-color: #32cd32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #228b22;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

#botao_iniciar:hover {
    background-color: #3cb371;
}

#botao_iniciar:active {
    box-shadow: 0 2px #006400;
    transform: translateY(2px);
}

#tela_de_jogo {
    display: none;
    gap: 30px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 100%;
    max-width: 400px;
}

.tema {
    font-size: 1.75em;
    font-weight: bold;
    color: #1ec700;
    -webkit-text-stroke: 0.5px #333;
    text-align: center;
}

.palavra-adivinhar {
    display: flex;
    gap: 10px;
    font-size: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.botoes {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botoes button {
    width: 40px;
    background-color: #3cb371;
    transition: 0.2s;
}

.botoes button:hover {
    background-color: #3ecb7d;
}

.botoes button.errado {
    background-color: #eb1700;
    cursor: not-allowed;
}

.botoes button.correto {
    background-color: #2873d6;
    cursor: not-allowed;
}

.mostrar_dica {
    -webkit-text-stroke: 1.75px #333;
    padding: 5px 20px;
    font-size: 1.75em;
    background-color: #32cd32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #228b22;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.mostrar_dica:hover {
    background-color: #3cb371;
}

.mostrar_dica:active {
    box-shadow: 0 2px #006400;
    transform: translateY(2px);
}

.dica {
    font-size: 1.3em;
    text-align: center;
    color: #555;
}

#mensagemFeedback {
    font-size: 1.3em;
    text-align: center;
}

@media (max-width: 820px) {
    #tela_de_jogo {
        flex-direction: column;
        padding: 10px;
    }

    .conteudo {
        max-width: 90%;
    }
}

@media (max-width: 650px) {
    header h1 {
        font-size: 2em;
    }

    .conteudo {
        max-width: 100%;
    }

    .tema {
        font-size: 1.5em;
    }

    .palavra-adivinhar {
        font-size: 1.5em;
    }

    .botoes button {
        width: 35px;
        height: 35px;
    }

    .mostrar_dica,
    #botao_iniciar {
        font-size: 1.4em;
        padding: 8px 16px;
    }

    #tela_inicial {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8em;
    }

    .tema {
        font-size: 1.2em;
    }

    .palavra-adivinhar {
        font-size: 1.2em;
    }

    .botoes button {
        width: 30px;
        height: 30px;
    }

    .dica {
        font-size: 1.1em;
    }

    .mostrar_dica,
    #botao_iniciar {
        -webkit-text-stroke: 1.3px #333;
        font-size: 1.2em;
        padding: 8px 14px;
    }

    #mensagemFeedback {
        font-size: 1.1em;
        text-align: center;
    }

    img {
        width: 200px;
    }
}